body {
	background:black;
	margin:auto;
	text-align:center;
}
p {
	color: yellow;
	font-family: 'Monoton', cursive;
	background: #53c2c2;
}
hr {
	width: 45%;
}
div {
	border: 10px solid yellow;
	padding: 15px;
	margin: 50px;
}
table {
	margin:auto;
	table-layout: auto;
	width: 100%;
	background-color:darkblue;
	border-collapse: collapse;
	
}
td {
	color: white;
	background-image :url('file:///C:/Users/karin/OneDrive/Pictures/Background/Inspired%20by%20Tron%20legacy%20movie%20by%20Edwin%20Urena%20_%20metal%20posters.jpg');
	list-style-type: none;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
	font-family: 'Bebas Neue';
	font-size: 30px;
	width:15%;
}
a {
	color: white;

}
h1 {
	color:red;
}
th {
	color: balck;
	background-image:url('file:///C:/Users/karin/OneDrive/Pictures/Background/2560x1440.jpg');
	padding: 0;
	overflow: hidden;
	font-family: 'Ma Shan Zheng';
	font-size: 15px;
	width:15%;	
	border:solid-black 10px;
}